/* 图标样式 */
.button-icon {
    cursor: pointer;

    /* width: 24px;
    height: 24px; */
    padding: 4px;

    background-color: transparent;
    color: currentColor;
    transition: transform 0.2s;

    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 4px;

    animation: none;
    flex-shrink: 0;
}


.button-icon.refresh {
    background-color: var(--vscode-button-secondaryBackground);
}

.button-icon.refresh:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
}

.button-icon.delete:hover {
    background-color: color-mix(in srgb, var(--vscode-errorForeground) 70%, transparent);
}

.button-icon svg {
    transition: transform 0.2s;
    stroke: "currentColor";
    width: 16px;
    height: 16px;
}

.button-icon.loading svg {
    stroke: currentColor;
    animation: spin 1s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}