/* 基础按钮样式 */
.node-version-button {
    min-height: 28px;
    padding: 0 1px 0 8px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
    border: 1px solid var(--vscode-button-border);
    overflow: hidden;
}

.node-version-button .progress-bar {
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 0;
    height: 2px;
    background-color: var(--vscode-errorForeground);
    width: 100%;
    transform-origin: left center;
}

.node-version-button.table {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-descriptionForeground);
    width: 100%;
    height: 100%;
}

/* 按钮状态变体 */
.node-version-button.installed {
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
}

.node-version-button.current {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    font-weight: bold;
}

.node-version-button.downloading {
    background-color: var(--vscode-editorInfo-background);
    color: var(--vscode-editorInfo-foreground);
    border-color: color-mix(in srgb, var(--vscode-editorInfo-foreground) 30%, transparent);
}

.node-version-button.confirm,
.node-version-button.error {
    background-color: var(--vscode-editorError-background);
    color: var(--vscode-editorError-foreground);
    border-color: color-mix(in srgb, var(--vscode-editorError-foreground) 30%, transparent);
}

.node-version-button.success {
    color: var(--vscode-testing-iconPassed);
    border-color: color-mix(in srgb, var(--vscode-testing-iconPassed) 30%, transparent);
}

.node-version-button.warning {
    color: var(--vscode-testing-iconQueued);
    border-color: color-mix(in srgb, var(--vscode-testing-iconQueued) 30%, transparent);
}

.node-version-button.warning:hover {
    color: var(--vscode-testing-iconQueued);
    border-color: var(--vscode-testing-iconQueued);
}

/* 统一悬停效果 */
.node-version-button:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
    border-color: var(--vscode-list-hoverBackground);
    border: 1px solid var(--vscode-button-hoverBackground);
}

.node-version-button.downloading:hover {
    background-color: var(--vscode-editorInfo-background);
    color: var(--vscode-editorInfo-foreground);
    border-color: var(--vscode-editorInfo-foreground);
}

.node-version-button.confirm:hover,
.node-version-button.error:hover {
    background-color: var(--vscode-editorError-background);
    color: var(--vscode-editorError-foreground);
    border-color: var(--vscode-editorError-foreground);
}


.node-version-button.success:hover {
    color: var(--vscode-testing-iconPassed);
    border-color: var(--vscode-testing-iconPassed);
}

.source-selector,
.nvmrc {
    margin-left: auto;
    padding: 0px 8px;
}

.source-selector:focus {
    outline: none;
    border-color: var(--vscode-focusBorder);
    box-shadow: 0 0 0 1px var(--vscode-focusBorder);
}

.source-selector option {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    padding: 4px 8px;
}

.source-selector option:checked {
    background-color: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
}